<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user_16.skhuglocalitandroidproject">
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activity_Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!--  -->
        <activity
            android:name=".RecommendFragmentActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme"/>

        <activity
            android:name=".MapViewer"
            android:theme="@style/AppTheme">
            </activity>

        <activity android:name=".SearchNaverActivity"
            android:theme="@style/AppTheme">
            </activity>

        <activity
            android:name=".BookDream.MatchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DepartmentNoticeboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".DepartmentNoticeboardContentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BookDream.GiveMatchMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BookDream.MainActivity"
            android:label="@string/title_activity_book_dream_main"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".FreeNoticeBoard.FreeNoticeBoard_Main"
            android:label="@string/title_activity_book_dream_main"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".FreeNoticeBoard.FreeNoticeBoard_Write"
            android:label="@string/title_activity_book_dream_main"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".FreeNoticeBoard.FreeNoticeBoard_View"
            android:label="@string/title_activity_book_dream_main"
            android:theme="@style/AppTheme">

            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".InfoNoticeBoard.InfoNoticeBoard_Main"
            android:label="@string/title_activity_book_dream_main"

            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".InfoNoticeBoard.InfoNoticeBoard_Write"
            android:label="@string/title_activity_book_dream_main"

            android:theme="@style/AppTheme">

        </activity>

        <activity
            android:name=".InfoNoticeBoard.InfoNoticeBoard_View"
            android:label="@string/title_activity_book_dream_main"

            android:theme="@style/AppTheme">

        </activity>


        // 추가된 서비스
        <service android:name=".BookDream.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        // 추가된 서비스
        <service android:name=".BookDream.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>